@import "../../../styles/settings.scss";

.root {
  @include flex(column, center, space-around);
  height: 8rem;
  max-width: 100vw;
  position: fixed;
  top: -2rem;
  width: 100vw;
  z-index: 1000;
  .bottomCurve {
    position: fixed;
    top: 3.5rem;
    transition: all 0.5s;
    width: inherit;
    height: inherit;
  }
  .bottomCurve__scroll {
    @extend .bottomCurve;
    top: -100%;
    transform: scale(2), skew(45deg);
    transition: all 2s;
  }
  .burgerButton {
    border: none;
    bottom: 2vh;
    outline: none;
    position: fixed;
    right: 2vh;
    z-index: 100;
    span,
    span:before,
    span:after {
      outline-style: solid;
      outline-width: 1px;
      outline-color: $darkWhite;
    }
  }

  .background {
    @include flex(column, center, flex-start);
    background: $navigationBackground;
    height: 75%;
    width: 100%;
  }

  .menu {
    @include flex(row, center, space-around);
    position: absolute;
    width: 50%;

    &__hidden {
      @extend .menu;
    }

    .navLink {
      color: $navigationColorLink;
      font-size: 1.15rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $navigationColorActiveLink;
        text-decoration: underline;
      }
    }

    @media (pointer: coarse) {
      .navLink:active {
        color: $navigationColorLink;
        transition: 0s;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    .menu {
      flex-direction: row;
    }

    .burgerButton {
      display: none;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1199px) {
  .root {
    .bottomCurve {
      top: 5rem;
    }
    .bottomCurve__scroll {
      top: -100%;
      transform: scale(2), skew(45deg);
      transition: all 2s;
    }
    .menu {
      background: $navigationMobileMenuBackground;
      border-radius: 0;
      bottom: 0;
      filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.4));
      flex-direction: column;
      height: 92%;
      left: 0;
      margin: 0;
      position: fixed;
      text-align: left;
      transform: scale(1);
      transition: all 0.5s;
      visibility: visible;
      width: 100%;
      justify-content: center;
      &__hidden {
        border-radius: 50%;
        bottom: -80%;
        left: 100%;
        transform: scale(0.1);
      }
      & > div {
        @include flex(column, center, center);
        max-height: 3rem;
      }
    }

    .burgerButton {
      display: flex;
    }
  }
}
