@import "../../../../styles/settings.scss";

.root {
  @include flex(row, center, center);
  height: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  padding-top: 5vh;
  .aboutUsTextContainer {
    width: clamp(50%, 80%, 700px);
  }
  .aboutUsRow {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
  }

  .aboutUsTextCol,
  .aboutUsImgCol {
    @include flex(column, flex-start, space-around);
  }
  .aboutUsTextCol {
    padding-left: 10%;
    text-align: left;
    img {
      align-self: center;
      display: none;
      width: 80%;
    }
  }
  .aboutUsImgCol {
    margin: 0;
    padding: 0;
    .backgroundImage {
      border-radius: 0;
      box-shadow: none;
      height: 100%;
      object-fit: cover;
      position: absolute;
      transform: translateY(-50px);
      width: 100%;
      z-index: 1;
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Below Medium Devices,*/
@media only screen and (min-width: 0) and (max-width: 1023px) {
  .root {
    .aboutUsTextContainer {
      align-self: center;
      margin-right: 0;
      width: 80%;
    }
    .aboutUsRow {
      position: relative;
    }
    .aboutUsTextCol {
      padding-right: 10%;
      img {
        margin: 2rem 0 2rem 0;
        display: block;
      }
    }
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
}
