@import "../../../styles/settings.scss";

.root {
  @include flex(column, center, center);
  height: 20rem;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  border-radius: $imageCorner;
  box-shadow: $imageShadow;
  overflow: hidden;
  .personContainer {
    @include flex(column, center, space-between);
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    z-index: 2;
    img {
      border-radius: none;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .caption {
      @include flex(column, center, space-between);
      background: rgba($color: $teamCoverPhotoBG, $alpha: 0.8);
      color: $text-color-alt;
      height: 100%;
      height: 20rem;
      padding: 0.5rem;
      position: absolute;
      top: 0;
      transition: all 0.3s ease;
      width: 100%;
      z-index: 2;

      .captionContent {
        height: 100%;
        margin: 0.5rem;
        overflow: auto;
        padding: 1rem;
        border-radius: $imageCorner;
      }
      &__hidden {
        @extend .caption;
        border-radius: none;
        top: 16.5rem;
        transition: all 0.3s;
      }
    }
  }
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
  .root {
  }
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
  .root {
  }
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .root {
  }
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .root {
  }
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
