@import "../../../styles/settings.scss";

.root {
  color: $headerColor;
  font-size: 2rem;
  // font-weight: 900;
  width: 20vw;
  &::after {
    content: "";
    width: 100%;
    height: 10px;
    background: $gold;
    display: block;
    left: 0;
    top: 70%;
    z-index: -1;
    position: absolute;
  }
}
