@import "./mixins.scss";
@import "./animations.scss";

/* DO NOT USE THOSE VARIABLES IN THE OTHER SCSS FILES! */
$black: #000000;
$red: #cc0033;
$darkWhite: #f0f0f0;
$white: #ffffff;
$yellow: #ffff00;
$gold: #f8af20;
$lightGray: #b2b2b2;

$mainRichBlack: #040c0e;
$mainDarkJungleGreen: #132226;
$mainFeldgrau: #525b56;
$mainCamel: #be9063;
$mainGlossyGrape: #a497be;
$mainArylideYellow: #e9c974;
$mainNavajoWhite: #ffe5a1;

// FONTS & TEXT
$text-color: $black;
$text-color-alt: $white;
$font-title: "Ubuntu", sans-serif;
$font-text: "Lato", sans-serif;
$linkColor: $mainArylideYellow;
$linkColorActive: $mainCamel;
$linkColor-alt: $mainFeldgrau;
$linkColorActive-alt: $mainArylideYellow;

//HEADER
$headerColor: $mainArylideYellow;

// SECTION
$padding-below-sections: 75px;

// SECTION BUTTON
$sectionButtonColor: $mainArylideYellow;

//NAVIGATION
$navigationColorLink: $mainArylideYellow;
$navigationColorActiveLink: $mainCamel;
$navigationBackground: $mainDarkJungleGreen;
$navigationMobileMenuBackground: $mainFeldgrau;

//NEWS
$newsOutlineColor: $white;
$newsOutlineColorActive: $mainNavajoWhite;
$newsModalBackground: $mainDarkJungleGreen;
$newsBorderColor: $mainArylideYellow;
$newsPageBackground: $mainDarkJungleGreen;

//ABOUT US
$teamCoverPhotoBG: $mainDarkJungleGreen;
$teamCoverOutline: $mainNavajoWhite;
$teamCoverOutline-alt: $mainCamel;

//FOOTER
$footerBackground: $mainDarkJungleGreen;
