@import "./settings.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headerColor;
  font-family: $font-title;
  text-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

h1 {
  font-size: clamp(1rem, 10vw, 6rem);
  margin-bottom: 0.2rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(0.5rem, 5vw, 2rem);
}

p {
  font-family: $font-text;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
