@import "./settings.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headerColor;
  font-family: $font-title;
  position: relative;
}

h1 {
  font-size: clamp(0.5rem, 12vw, 71px);
  margin-bottom: 0.2rem;
  letter-spacing: -4%;
  font-weight: 500;
}

h2 {
  font-size: clamp(0.5rem, 6vw, 28px);
}

p {
  color: $text-color;
  font-family: $font-text;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}
