@import "../../../../styles/settings.scss";

.root {
  @include flex(column, center, center);
  height: 100vh;
  position: relative;
  width: 100%;
  background: none;
  overflow: hidden;
  z-index: 1;
  img {
    border-radius: 0;
    box-shadow: none;
    height: 85%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  &::after {
    background-color: $lightGreen;
    content: "";
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  .headerContainer {
    @include flex(column, flex-start, center);
    position: absolute;
    top: 20%;
    left: 15vw;
  }

  .icon__scroll,
  .icon__scroll:before {
    position: absolute;
    left: 50%;
    bottom: 11.5%;
  }

  .icon__scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px $scrollIcon;
    border-radius: 25px;
    opacity: 1;
    transition: all 1s;
    visibility: visible;
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background: $scrollIcon;
      margin-left: -7px;
      top: 5px;
      border-radius: 50%;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
      box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    }
  }
  .icon__scrollHidden {
    @extend .icon__scroll;
    visibility: hidden;
    opacity: 0;
    transition: $animation;
  }
}

.header {
  width: 100%;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.subheader {
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  &:after {
    background: $sectionHeader;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: -10%;
    width: 102%;
    z-index: -2;
  }
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
  .root {
  }
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
  .root {
  }
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .root {
  }
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .root {
  }
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
