@import "../../../styles/settings.scss";

.root {
  min-height: 30vh;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  .postContent {
    @include flex(column, center, space-between);
    height: 100%;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    .postHeader {
      align-self: flex-start;
      .postTitle {
        align-self: flex-start;
        border-bottom: 3px solid $newsBorderColor;
        color: $headerColor;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 0.9em;
      }
    }
  }

  svg,
  svg rect {
    fill: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  svg rect {
    stroke-dasharray: 30% 160%;
    stroke-dashoffset: 0;
    stroke-width: 4;
    stroke: $newsOutlineColor;
    transition: 1s;
  }
  &:hover {
    svg rect {
      stroke-dasharray: 160% 0%;
      stroke-dashoffset: 0;
      stroke: $newsOutlineColorActive;
    }
  }
  .postBG {
    border-radius: 50%;
    display: inline-block;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    position: relative;
    width: 100%;
    z-index: 1;

    img {
      border-radius: 50%;
      display: block;
      height: 100%;
      width: 100%;
    }
    &::after {
      border-radius: 50%;
      box-shadow: inset 10px 24px 40px 0px $mainDarkJungleGreen, inset -10px -24px 40px 0px $mainDarkJungleGreen,
        inset 20px -10px 40px 0px $mainDarkJungleGreen, inset -20px 10px 40px 0px $mainDarkJungleGreen;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.modal {
  @include flex(column, center, center);
  background-color: $newsModalBackground;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999999;
  svg,
  svg rect {
    display: none;
  }

  .icon {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: none;
    height: 2rem;
    padding-bottom: 1px;
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    z-index: 10;
    color: $navigationColorLink;
    &:hover {
      color: $navigationColorActiveLink;
    }
  }
  .modalDialog {
    overflow-y: initial !important;
    .modalContent {
      @include flex(column, center, space-around);
      height: 90vh;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      .modalTitle {
        border-bottom: 1px solid $newsBorderColor;
        margin-bottom: 1rem;
        width: 100%;
      }
      .modalBody {
        @include flex(column, center, flex-start);
        height: 80vh;
        overflow-y: auto;
        width: 100%;
        .modalBodyText {
          @include flex(column, center, center);
          margin: 1rem 0 1rem 0;
          img {
            height: auto;
            width: 80%;
          }
        }
      }
      .modalFooter {
        @include flex(column, flex-end, flex-end);
        border-top: 1px solid $newsBorderColor;
        width: 100%;
        .modalScrollArrow {
          background: none;
          border: none;
          bottom: 5rem;
          color: $navigationColorLink;
          font-size: 2rem;
          height: 2rem;
          opacity: 1;
          outline: none;
          position: absolute;
          right: 1rem;
          transition: all 0.5s;
          width: 2rem;
          &:hover {
            color: $navigationColorActiveLink;
          }
          &__hidden {
            @extend .modalScrollArrow;
            animation: none;
            opacity: 0;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .root {
    svg rect {
      stroke-dasharray: 25% 160%;
      stroke-dashoffset: 0;
    }
    &:hover {
      svg rect {
        stroke-dasharray: 160% 0%;
        stroke-dashoffset: 0;
      }
    }
  }
  .modal .modalDialog {
    .modalContent {
      padding: 1rem 0 1rem 0;
      width: 85vw;
      .modalFooter .modalScrollArrow {
        right: 0;
      }
    }
  }
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
  .root {
  }
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
  .root {
  }
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .root {
  }
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .root {
  }
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
