@import "../../../styles/settings.scss";

.root {
  // border: 1px solid red;
  @include flex(column, center, center);
  color: $darkWhite;
  z-index: 10;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  position: absolute;
  padding: 2rem 0 2rem 0;

  .footerRow {
    // border: 1px solid greenyellow;
    // width: 90%;
    @include flex(row, center, center);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content:space-around;


    .footerInformationsLinks{
      @include flex(column, center, center);
    }
  }
}

.yearBox {
  @include flex(column, center, center);
  width: 100%;
}

.linkBox {
  display: flex;
  flex-direction: row;
}

.textFooter {
  margin: 5px;
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
}
