@import "../../../styles/settings.scss";

.root {
  @include flex(column, center, center);

  a {
    color: $mainFeldgrau;

    &:hover {
      color: $mainArylideYellow;
    }
  }
}

.yearBox {
  @include flex(column, center, center);
  background: $footerBackground;
  color: $mainFeldgrau;
  width: 100%;
}

.linkBox {
  display: flex;
  flex-direction: row;
}

.textFooter {
  margin: 5px;
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
}
